
body {
  background-color: black;
}

.app-bkg {
  display: flex;
  justify-content: center;
}

.app__container {
  text-align: center;
  width: 100%;
  max-width: 1200px;
  font-family: 'Lato', 'lato' ,sans-serif;
  background-color: #0B0146;
}

.app__container-nav {
  /* display: inline-block; */
  font-size: 1.5rem;
}

.container-nav-item {
  background-color: white;
  margin: 5%;
}

.app__container-img {
  max-width: 100%;
  height: auto;
}


.app__container-bottom {
  /* background-color: #0B0146; */
  height: 100%;
}

.colab-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 100%;
  color: white;
}
.colab-title {
  font-size: 2rem;
}
.colab-img {
  align-self: center;
  max-width: 100%;
  max-height: auto;
}